table,th,td {
  border: 1px solid blue;
  border-collapse: collapse;
  padding: 15px;
  text-align: left;
  border-spacing: 5px;
  /* for merging the borders as one border */
}
h1 {
  color: darkblue;
}
#t01 {
  background-color: yellow;
}
#t01 tr:nth-child(even){
  background-color: #ffff
}
#t01 tr:nth-child(odd){
  background-color: #1111
}
ul {
  list-style-type:disc;
}
ol {
  type="A";
}
.names {
  background-color: lightgreen;
}
body {
  background-image: url("E:\\New Downloads\\download images\\sherly.jpg");
  background-color: lightgreen;
  font-style: bold;
}
